@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.slider {
  width: 100%;
  height: 300px;
  position: relative;
}

.slider__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  cursor: pointer;
  position: absolute;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.slider__navigation {
  z-index: 9;
  position: absolute;
}
.slider__navigation img {
  width: 50px;
}

.action-prev {
  left: 20px;
  bottom: 170px;
}

.action-next {
  right: 20px;
  bottom: 170px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 9;
  width: 45px;
}
.slick-arrow img {
  width: 100%;
}
.slick-arrow:last-child {
  right: 0;
}

html,
body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 300;
  background: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

*[class*=__container] {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.connect__button {
  font-weight: 700;
  font-size: 22px;
  line-height: 117.9%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 25px 51px;
  background: -o-linear-gradient(347.8deg, #770B6C -13.58%, #3A0B77 28.45%, #6200DE 118.7%);
  background: linear-gradient(102.2deg, #770B6C -13.58%, #3A0B77 28.45%, #6200DE 118.7%);
  -webkit-box-shadow: inset 0px 4px 12px rgba(12, 34, 90, 0.15);
          box-shadow: inset 0px 4px 12px rgba(12, 34, 90, 0.15);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 44px;
  display: inline-block;
}
.connect__button:after {
  border-radius: 44px;
  z-index: -100;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  opacity: 0;
  background: -o-linear-gradient(348.8deg, #961b8a -13.58%, #5216a0 28.45%, #a25cfe 118.7%);
  background: linear-gradient(101.2deg, #961b8a -13.58%, #5216a0 28.45%, #a25cfe 118.7%);
}
.connect__button:hover:after {
  opacity: 1;
}

.card {
  max-width: 230px;
  background: -o-linear-gradient(30.4deg, rgba(70, 13, 231, 0.5) 10.18%, rgba(238, 50, 219, 0.2) 97.77%);
  background: linear-gradient(59.6deg, rgba(70, 13, 231, 0.5) 10.18%, rgba(238, 50, 219, 0.2) 97.77%);
  -webkit-backdrop-filter: blur(7.67449px);
          backdrop-filter: blur(7.67449px);
  border-radius: 21.1049px;
  padding: 12px;
}
.card__preview {
  margin-bottom: 13px;
}
.card__name, .card__price-text {
  font-weight: 700;
  font-size: 14.3851px;
  line-height: 98.9%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.card__name {
  margin-bottom: 9px;
}
.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 9px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.card__owner-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
.card__user-name {
  display: inline-block;
  font-weight: 400;
  font-size: 7.19257px;
  line-height: 107.9%;
  letter-spacing: 0.03em;
  color: #808FAA;
}
.card__user-name span {
  display: block;
}
.card__user-name .card__owner-name {
  color: #fff;
  font-weight: 600 !important;
}
.card__owner-img {
  display: inline-block;
  margin-right: 7px;
  margin-bottom: -8px;
}
.card__like, .card__watch {
  font-size: 9.2476px;
  line-height: 98.9%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.card__watches-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}
.card__watches-likes img {
  display: inline-block;
}
.card__price-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 14.3851px;
  line-height: 98.9%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.card__price-number span {
  margin-right: 5px;
}
.card__button {
  font-weight: 500;
  font-size: 7.19257px;
  line-height: 98.9%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: -o-linear-gradient(30.4deg, #460DE7 10.18%, rgba(238, 50, 219, 0.4) 97.77%);
  background: linear-gradient(59.6deg, #460DE7 10.18%, rgba(238, 50, 219, 0.4) 97.77%);
  -webkit-backdrop-filter: blur(7.67449px);
          backdrop-filter: blur(7.67449px);
  border-radius: 21.1049px;
  padding: 9px 12px;
}

img {
  pointer-events: none;
}

.header {
  z-index: 10;
  background-color: transparent;
  padding: 25px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
.header__item {
  margin-top: 19px;
}
.header__logo {
  margin-right: 30px;
}
.header__logo img {
  width: 220px;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}
.header__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 117.9%;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .burger {
  display: none;
}

.change {
  background-color: rgba(0, 0, 0, 0.9) !important;
}
.change .header__link {
  font-size: 15px;
}
.change .header__logo img {
  width: 140px;
}

.intro {
  background-image: url("../images/intro-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 120px;
  background-size: cover;
  padding-bottom: 80px;
}
.intro__title {
  padding-top: 50px;
  font-weight: 700;
  font-size: 38px;
  line-height: 117.9%;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.intro__subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 117.9%;
  color: #FFFFFF;
  margin-bottom: 50px;
  max-width: 413px;
}
.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro__left {
  max-width: 490px;
}
.intro__phone {
  width: 528px;
  min-height: 600px;
  background-image: url("../images/phone.png");
  background-repeat: no-repeat;
  position: relative;
}
.intro__phone-item {
  position: absolute;
}
.intro__phone-item:first-child {
  top: 25px;
  left: -125px;
}
.intro__phone-item:nth-child(2) {
  top: 151px;
  right: -34px;
}

.mini-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
  background: -o-linear-gradient(30.4deg, rgba(40, 15, 113, 0.5) 10.18%, rgba(54, 10, 50, 0.2) 97.77%);
  background: linear-gradient(59.6deg, rgba(40, 15, 113, 0.5) 10.18%, rgba(54, 10, 50, 0.2) 97.77%);
  -webkit-backdrop-filter: blur(7.67449px);
          backdrop-filter: blur(7.67449px);
  border-radius: 21.1049px;
  padding: 15px 20px;
  gap: 17px;
  position: relative;
  top: 20px;
  left: 20px;
}
.mini-card__price, .mini-card__profit {
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  color: #FFFFFF;
}
.mini-card__price img, .mini-card__profit img {
  display: inline-block;
  margin-left: 4px;
}
.mini-card__price {
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.mini-card__text {
  margin-bottom: 5px;
}
.mini-card__number {
  font-weight: 700;
  font-size: 23.0235px;
  line-height: 124.5%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.intro__phone-item:nth-child(2) .mini-card {
  left: -190px;
}

.advantages {
  background-image: url("../images/advantages-bg.png");
  background-repeat: no-repeat;
  padding-top: 110px;
  background-position: top center;
  background-size: cover;
  padding-bottom: 100px;
}
.advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
  margin-bottom: 52px;
}
.advantages__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 780px;
}
.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.advantages__icon-img {
  background: -o-linear-gradient(347.8deg, #4A0D98 -18.58%, #6200DE 118.7%);
  background: linear-gradient(102.2deg, #4A0D98 -18.58%, #6200DE 118.7%);
  -webkit-box-shadow: inset 0px 4px 12px rgba(12, 34, 90, 0.15);
          box-shadow: inset 0px 4px 12px rgba(12, 34, 90, 0.15);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 15px;
  padding: 11px;
}
.advantages__icon-img img {
  width: 20px;
  height: 20px;
}
.advantages__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 117.9%;
  color: #FFFFFF;
  margin-bottom: 28px;
}
.advantages__subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 117.9%;
  color: #FFFFFF;
  margin-bottom: 48px;
}
.advantages__item {
  padding: 60px 52px 70px;
  background: -o-linear-gradient(126.17deg, rgba(12, 6, 29, 0.7) -14.83%, rgba(12, 6, 29, 0) 91.78%);
  background: linear-gradient(323.83deg, rgba(12, 6, 29, 0.7) -14.83%, rgba(12, 6, 29, 0) 91.78%);
  border: 2px solid #2C075E;
  border-radius: 22px;
  position: relative;
}
.advantages__item::before {
  content: "";
  background-image: url("../images/decor-1.svg");
  height: 50px;
  width: 7px;
  position: absolute;
  top: 60%;
  left: 0;
}
.advantages__item::after {
  content: "";
  background-image: url("../images/decor-2.svg");
  height: 120px;
  width: 7px;
  position: absolute;
  top: 20px;
  right: 0;
}
.advantages__item:nth-child(2)::before {
  background-image: url("../images/decor-2.svg");
  height: 122px;
}
.advantages__item:nth-child(2):after {
  background-image: url("../images/decor-1.svg");
  height: 50px;
}
.advantages__item:nth-child(3)::after {
  top: 30%;
}
.advantages__item:nth-child(3)::before {
  top: 80%;
}
.advantages__item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 117.9%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 23px;
  max-width: 152px;
}
.advantages__item-subtitle {
  font-weight: 300;
  font-size: 15px;
  line-height: 117.9%;
  text-align: center;
  color: #FFFFFF;
  max-width: 170px;
}
.advantages__icon-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
}
.advantages__item-img {
  margin: 0 auto 45px;
}

.bonuses {
  padding-top: 80px;
  padding-bottom: 60px;
  background-image: url("../images/bonuses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bonuses__button-box {
  text-align: center;
}
.bonuses__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 117.9%;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 20px;
}
.bonuses__subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 117.9%;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 51px;
}
.bonuses__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  margin-bottom: 39px;
}
.bonuses__item {
  position: relative;
  -webkit-transition: 0.7s all;
  -o-transition: 0.7s all;
  transition: 0.7s all;
}
.bonuses__item::before {
  content: "";
  width: 21px;
  height: 260px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -29px;
  background-image: url("../images/decor-5.png");
}
.bonuses__item:hover {
  -webkit-transform: rotate3d(0, 1, 0, 360deg);
          transform: rotate3d(0, 1, 0, 360deg);
}
.bonuses__item:last-child {
  position: relative;
}
.bonuses__item:last-child::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 22px;
}
.bonuses__item:last-child:before {
  display: none;
}
.bonuses__item-inner {
  position: relative;
}
.bonuses__item-inner::before {
  position: absolute;
  top: -1.5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 75px;
  height: 6px;
  background-image: url("../images//decor-3.svg");
}
.bonuses__item-inner::after {
  position: absolute;
  bottom: -1.5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 162px;
  height: 13px;
  background-image: url("../images//decor-4.svg");
}
.bonuses__item:nth-child(3) .bonuses__item-inner {
  padding-bottom: 43px;
}
.bonuses .coming-soon {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  max-width: 52px;
  margin: 0 auto;
}
.bonuses__item-inner {
  text-align: center;
  padding: 45px 43px 100px;
  background: -o-linear-gradient(126.17deg, rgba(12, 6, 29, 0.7) -14.83%, rgba(12, 6, 29, 0) 91.78%);
  background: linear-gradient(323.83deg, rgba(12, 6, 29, 0.7) -14.83%, rgba(12, 6, 29, 0) 91.78%);
  border: 2px solid #2C075E;
  border-radius: 22px;
  height: 491px;
  min-width: 280px;
}
.bonuses__item-img {
  margin: 0 auto 30px;
}
.bonuses__item-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 117.9%;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.bonuses__item-subtitle {
  margin-bottom: 45px;
}
.bonuses__item-subtitle, .bonuses__item-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 117.9%;
  color: #FFFFFF;
}
.bonuses__item-text {
  font-size: 13px;
  padding-bottom: 20px;
}
.bonuses__item-text--inner {
  position: relative;
}
.bonuses__item-text--inner::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 6px;
  background: url("../images/check.svg");
  left: -14px;
  top: 5px;
}
.bonuses__item-text--soon {
  text-align: center;
  min-width: 100%;
  padding: 23px 34px;
  border: 2px solid #2C075E;
  border-radius: 22px;
  margin-bottom: -10px;
}
.bonuses .soon-img {
  margin: 0 auto 12px;
}

.collection {
  padding: 52px 0px;
  background-image: url("../images/collection-bg.png");
  background-position: center;
  background-size: cover;
}
.collection__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 117.9%;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 42px;
}
.collection__button-box {
  text-align: center;
}
.collection__button {
  cursor: pointer;
}
.collection__subtitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 42px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.collection__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.collection__subtitle-text {
  font-size: 15px;
  line-height: 146.9%;
  color: #FFFFFF;
  margin-left: 20px;
  max-width: 310px;
}
.collection__carousel {
  padding: 47px 0px;
}

.footer {
  padding: 80px 0px;
  background-image: url("../images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 117.9%;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 40px;
}
.footer__subtitle {
  font-size: 20px;
  line-height: 117.9%;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 60px;
}
.footer__item-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 117.9%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__item {
  padding: 50px 60px;
  background: -o-linear-gradient(347.8deg, #770B6C -13.58%, #3A0B77 28.45%, #6200DE 118.7%);
  background: linear-gradient(102.2deg, #770B6C -13.58%, #3A0B77 28.45%, #6200DE 118.7%);
  -webkit-box-shadow: inset 0px 4px 12px rgba(12, 34, 90, 0.15);
          box-shadow: inset 0px 4px 12px rgba(12, 34, 90, 0.15);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 33px;
}
.footer__item img {
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (max-width: 1312px) {
  .collection__subtitles {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .bonuses__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1298px) {
  .bonuses__items {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (max-width: 1103px) {
  .intro__left {
    max-width: 321px;
  }
  .intro__subtitle {
    font-size: 16px;
  }
  .intro__title {
    font-size: 26px;
  }
}
@media (max-width: 1094px) {
  .advantages__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .advantages__items {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .advantages__info {
    grid-column: span 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 29px;
  }
  .advantages__icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
@media (max-width: 990px) {
  .intro__phone {
    max-width: 470px;
  }
  .intro__phone .card {
    max-width: 200px;
  }
  .intro__phone-item:first-child {
    top: 25px;
    left: -45px;
  }
  .mini-card__number {
    font-size: 16px;
  }
  .mini-card__price {
    padding-right: 4px;
  }
  .mini-card__price,
.mini-card__profit {
    font-size: 11px;
  }
  .intro__phone {
    min-height: 550px;
    background-size: contain;
  }
}
@media (max-width: 943px) {
  .header__link {
    font-size: 16px;
  }
  .header__logo img {
    width: 155px;
  }
}
@media (max-width: 896px) {
  .footer__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
  }
  .advantages__title {
    font-size: 31px;
  }
  .advantages__subtitle {
    font-size: 16px;
  }
  .advantages__item-title {
    font-size: 17px;
  }
  .advantages__item-subtitle {
    font-size: 12px;
  }
}
@media (max-width: 844px) {
  .intro__title {
    font-size: 18px;
  }
  .intro__subtitle {
    font-size: 12px;
  }
  .intro__button {
    font-size: 18px;
    padding: 25px 31px;
  }
  .intro__left {
    max-width: 224px;
  }
  .intro__phone {
    max-width: 457px;
  }
}
@media (max-width: 768px) {
  .header__menu {
    overflow: auto;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-transform: translateY(-1000%);
        -ms-transform: translateY(-1000%);
            transform: translateY(-1000%);
    opacity: 0;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    z-index: 10;
  }
  .header__menu .header__list {
    width: 100%;
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__menu .header__list li a {
    font-size: 20px;
  }
  .visible {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  .hidden {
    overflow: hidden;
  }
  .rotate {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .burger {
    cursor: pointer;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4px;
    width: 39px;
    height: 39px;
    -webkit-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
    padding-left: 10px;
    background: -o-linear-gradient(347.8deg, #770B6C -13.58%, #3A0B77 28.45%, #6200DE 118.7%);
    background: linear-gradient(102.2deg, #770B6C -13.58%, #3A0B77 28.45%, #6200DE 118.7%);
    -webkit-box-shadow: inset 0px 4px 12px rgba(12, 34, 90, 0.15);
            box-shadow: inset 0px 4px 12px rgba(12, 34, 90, 0.15);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    border-radius: 12px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .burger span {
    display: block;
    background: #FFF;
    border-radius: 8px;
    height: 4px;
  }
  .burger span:first-child {
    width: 12px;
  }
  .burger span:nth-child(2) {
    width: 24px;
  }
  .burger span:last-child {
    width: 17px;
  }
}
@media (max-width: 760px) {
  .intro__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__left {
    max-width: none;
    width: 100%;
    text-align: center;
  }
  .intro__title {
    font-size: 30px;
    margin-bottom: 19px;
  }
  .intro__subtitle {
    max-width: none;
    font-size: 16px;
    margin-bottom: 23px;
  }
  .intro__button {
    font-size: 23px;
    margin-bottom: 35px;
  }
  .intro__phone {
    width: 100%;
    margin: 0 auto;
    left: 49px;
  }
  .intro__phone-item {
    max-width: 179px;
  }
  .intro__mini-card:first-child {
    position: absolute;
  }
  .intro__mini-card:nth-child(2) {
    position: absolute;
    left: 121px;
  }
  .intro__phone .card {
    max-width: 168px;
  }
  .intro__mini-card:nth-child(2) {
    position: absolute;
    left: -99px;
    top: 100%;
  }
  .mini-card__number {
    font-size: 11px;
  }
  .card__name,
.card__price-text {
    font-size: 8px;
  }
  .intro__phone-item:nth-child(2) {
    top: 135px;
    right: 69px;
  }
  .intro__phone-item:first-child {
    left: 19px;
  }
  .advantages__info {
    gap: 8px;
  }
  .advantages__icons {
    gap: 25px;
  }
}
@media (max-width: 690px) {
  .advantages__items {
    grid-template-columns: 1fr;
  }
  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .advantages__icons {
    gap: 44px;
    justify-items: center;
  }
  .advantages__info {
    max-width: 100%;
    margin: 0 auto;
  }
  .advantages__phone {
    margin: 0 auto;
  }
  .advantages__title,
.advantages__subtitle {
    text-align: center;
  }
  .advantages__inner {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 550px) {
  .intro__phone {
    max-width: 87%;
    left: 40px;
  }
  .intro__phone .card {
    max-width: 168px;
  }
  .intro__mini-card:nth-child(2) {
    position: absolute;
    left: -68px;
    top: 106%;
  }
  .intro__phone-item:nth-child(2) {
    right: 9px;
  }
  .intro__mini-card {
    padding: 7px 13px;
    gap: 5px;
  }
  .card__price-number {
    font-size: 8px;
  }
}
@media (max-width: 481px) {
  .intro__phone {
    left: 18px;
  }
  .footer__title {
    font-size: 30px;
  }
  .footer__subtitle {
    font-size: 17px;
  }
  .footer__items {
    gap: 23px;
  }
  .footer__item {
    padding: 25px 30px;
  }
}
@media (max-width: 450px) {
  .collection__title {
    font-size: 33px;
  }
  .collection__subtitle-text {
    font-size: 13px;
  }
  .collection__button {
    font-size: 17px;
  }
  .bonuses__button {
    font-size: 20px;
  }
  .intro__phone .card {
    max-width: 139px;
  }
  .mini-card__number {
    font-size: 8px;
  }
  .mini-card__number img {
    width: 8px;
  }
  .intro .card__button {
    padding: 9px 1px;
  }
  .intro__card.card {
    position: relative;
    left: -54px;
    top: -23px;
  }
  .intro__phone-item:nth-child(2) .card {
    left: -5px;
    top: -93px;
  }
  .intro__phone-item:nth-child(2) .mini-card {
    left: -107px;
  }
  .advantages__item::after {
    height: 59px;
  }
  .advantages__item:nth-child(3)::after {
    top: -2%;
    height: 89px;
  }
  .advantages__item:nth-child(2)::before {
    height: 31px;
  }
  .advantages__item:nth-child(3)::before {
    top: 40%;
  }
}
@media (max-width: 340px) {
  .footer__items {
    gap: 1px;
  }
  .advantages__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages__item > div:first-child {
    width: 67px;
    margin-bottom: -39px;
  }
  .advantages__item-title {
    font-size: 12px;
  }
  .advantages__item-subtitle {
    font-size: 9px;
  }
  .advantages__item {
    padding: 15px 9px 22px;
  }
}